{
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "testing-library",
    "jest-dom",
    "simple-import-sort"
  ],
  "extends": [
    "airbnb-typescript",
    "react-app",
    "prettier",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 100,
        "ignoreUrls": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/setupTests.ts",
          "src/**/__tests__/**"
        ]
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    // For non-string properties on Elements (which can't be set via .setAttribute()).
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    // No longer needed, as of React v17
    "react/react-in-jsx-scope": "off",
    "simple-import-sort/imports": "error",
    "@typescript-eslint/lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    // We're not using defaultProps...
    "react/require-default-props": "off"
  }
}
