.overlay {
  display: contents;

  .blurBox {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    &.top,
    &.bottom {
      grid-column: 1/4;
    }
    &.left,
    &.right {
      grid-row: 2/3;
    }
    &.top {
      grid-row: 1/2;
    }
    &.right {
      grid-column: 3/4;
    }
    &.bottom {
      grid-row: 3/4;
    }
    &.left {
      grid-column: 1/2;
    }
  }
}
