@import '../App.module';

$borderThin: 0.05em solid $colour1;
$borderThick: 0.12em solid $colour1;

.sudokuSolver {
  background: $colour2;
  margin: 0 auto;
  font-size: 6.25vw;
  font-weight: 700;
  border-collapse: collapse;
  table-layout: fixed;
  border: $borderThick;

  @include softenedEdges;

  td {
    border: $borderThin;
    vertical-align: middle;
    text-align: center;
    width: calc(100% / 9);
    max-width: calc(100% / 9);
    max-height: calc(100% / 9);

    &.original {
      color: $colour3 !important;
    }
  }
  tr {
    height: calc(100% / 9);
  }
  tr:nth-child(3n) {
    border-bottom: $borderThick;
  }
  td:nth-child(3n) {
    border-right: $borderThick;
  }

  .error {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1em;

    h2 {
      color: $colour3;
      font-size: 105%;
      font-weight: 600;
    }
    p {
      font-size: 75%;
      font-weight: 400;
      margin: 0.5em 0;
    }
  }

  @media (orientation: landscape) {
    & {
      font-size: 5vh;
    }
  }
}
