@import '../App.module';

$width: 85vw;
$height: $width;
$borderThin: calc(#{$height} / 1000) solid $colour1;
$borderThick: calc(#{$height} / 125) solid $colour1;

.sudokuSolver {
  background: $colour2;
  margin: 0 auto;
  font-size: calc(#{$height} / 12);
  font-weight: 700;
  border-collapse: collapse;
  table-layout: fixed;
  border: $borderThick;

  @include slightlyRoundedEdge;

  td {
    border: $borderThin;
    vertical-align: middle;
    text-align: center;
    width: calc(100% / 9);
    max-width: calc(100% / 9);
    max-height: calc(100% / 9);
  }
  tr {
    height: calc(100% / 9);
  }
  tr:nth-child(3n) {
    border-bottom: $borderThick;
  }
  td:nth-child(3n) {
    border-right: $borderThick;
  }
}
