$headerHeight: 5rem;
$windowSize: 75vw;

.app {
  display: grid;
  grid-template-rows: $headerHeight calc(100% - #{$headerHeight});
  width: 100vw;
  height: 100%;
  overflow: hidden;

  > header {
    z-index: 10;
    display: grid;
    align-items: center;
    height: 100%;
    background: white;

    h1 {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  > div {
    overflow: hidden;
    height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr $windowSize 1fr;
    grid-template-rows: 1fr $windowSize 1fr;
    place-items: center;
    position: relative;

    > main {
      grid-row: 2/3;
      grid-column: 2/3;
      width: 100%;
      height: 100%;
    }
  }

  @media (orientation: landscape) {
    & {
      $landscapeHeaderHeight: 0.75 * $headerHeight;
      grid-template-rows: $landscapeHeaderHeight calc(100% - #{$landscapeHeaderHeight});
    }
    > div {
      grid-template-columns: 1fr 66.7vh 1fr;
      grid-template-rows: 1fr 67.7vh 1fr;
    }
  }
}
